APP_NAME="EduSphere API"
APP_ENV=local
APP_KEY=base64:HQ8kfIpg40L4yzlhoPMfoAl37Q0NwTOAsWWkDpc+ZmY=
APP_DEBUG=true
APP_URL=http://edusphere.test

# Configuration SQLITE - Solution 1 : Chemin sans espaces (recommandé)
DB_CONNECTION=sqlite
# DB_DATABASE=C:/Users/PROBOOK~1/Herd/edusphere/database/database.sqlite

# Solution 2 : Utiliser un chemin relatif (PLUS SIMPLE !)
DB_DATABASE=database/database.sqlite

# COMMENTEZ TOUTES CES LIGNES
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Configuration Vite
VITE_PORT=5173
VITE_HOST=localhost